.botao{
    background-color:  #d01a1a;
    color: white;
    font-size:20px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    padding: 25px;
    margin: 10px;
    
}
.botao:hover{
    background-color:#A81717
}
.botao:active {
    transform: scale(0.85);
}