.botao{
    background-color: rgb(212, 82, 6) /*#ee1000*/;
    color: white;
    font-size:20px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    padding: 25px;
    margin: 10px;
    
}
.botao:hover{
    background-color:rgb(233, 100, 23)
}
.botao:active {
    transform: scale(0.85);
}